<template>
  <div style="display:inline">
    <template v-for="(filter, i) in filters">
      <v-icon
        small
        v-if="hasIcon(logicalAndFilterGroupIndex, i)"
        :class="{
          'cnf__logic--and': filter.logic === 'and',
          'cnf__logic--or' : filter.logic === 'or'
        }"
        :key="`filter-${logicalAndFilterGroupIndex}-${i}-logic-icon`"
      >
        <template>
          {{ logicString(i) }}&nbsp;
        </template>
      </v-icon>

      <template v-if="!i">&nbsp;(</template>
      <VCnfChip
        :logicalAndFilterGroupIndex="logicalAndFilterGroupIndex"
        :logicalOrFilterGroupIndex="i"
        :filter="filter"
        :fieldMap="fieldMap"
        :cnfLogicConfig="cnfLogicConfig"
        :cnfFunctionsConfig="cnfFunctionsConfig"
        :cnfConditionalConfig="cnfConditionalConfig"
        :key="`filter-${logicalAndFilterGroupIndex}-${i}-chip`"
        @click:close="clickClose"
      />
      <template v-if="i === filters.length-1">)&nbsp;</template>
    </template>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";

import {
  VIcon
} from 'vuetify/lib'

import {configs} from 'frxt'
import {
  Filter, TokenMapConfig,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig
} from 'frxt/dist/types'

import VCnfChip from './VCnfChip.vue'

export default Vue.extend({
  components: {
    VCnfChip, VIcon
  },
  props: {
    logicalAndFilterGroupIndex:{
      type: Number,
      default: 0
    },
    filters: {
      type: Array as PropType<Filter[]>,
      default: () => ([])
    },
    fieldMap: {
      type: Object as PropType<TokenMapConfig>,
      default: ()=>({})
    },
    cnfLogicConfig: {
      type: Object as PropType<CNFLogicConfig>,
      default: ()=>configs.defaultCNFLogicConfig
    },
    cnfFunctionsConfig: {
      type: Object as PropType<CNFFunctionConfig>,
      default: ()=>configs.defaultCNFFunctionConfig
    },
    cnfConditionalConfig: {
      type: Object as PropType<CNFConditionalConfig>,
      default: ()=>configs.defaultCNFConditionalConfig
    },
  },
  methods: {
    clickClose([i, j]:[number, number]): void {
      this.$emit('click:close', [i, j])
    },
    hasIcon(i:number, j:number): boolean {
      let f = this.filters[j]
      return (i !== 0 && f.logic === 'and' || j !== 0) as boolean
    },
    logicString(i:number): string {
      let f = this.filters[i]
      let logic = f.logic
      return this.cnfLogicConfig[logic].display as string
    }

  }
})
</script>

<style lang="css">
.cnf__chip--first-or::before {
  content: '('
}
.cnf__chip--last-or::after {
  content: ')'
}
</style>
