<template>
  <th @click="click">
    <v-col>
      <v-hover v-slot:default="{ hover }">
        <div class="d-inline-flex">
          <span class="align-self-center">
            {{fieldText}}
          </span>
          <v-btn icon text class="smooth-transition">
            <v-badge :color="hover?'primary':'transparent'">
              <template v-slot:badge>
                <span>
                  {{fieldSortNumber + 1}}
                </span>
              </template>
              <v-icon :class="{'no-opacity': !(hover || fieldSortNumber!==-1)}">
                {{fieldSortIcon}}
              </v-icon>
            </v-badge>
          </v-btn>
        </div>
      </v-hover>
    </v-col>
  </th>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";

import {
  VCol, VHover, VBtn, VBadge, VIcon
} from 'vuetify/lib'

import {
  Field
} from 'frxt/dist/types'

export default Vue.extend({
  components: {
    VCol, VHover, VBtn, VBadge, VIcon
  },
  props: {
    field: {
      type: String as PropType<Field>,
    },
    fieldText: {
      type: String,
    },
    fieldSortNumber: {
      type: Number,
      default: 0
    },
    fieldSortIcon: {
      type: String,
      default: 'mdi-arrow-up'
    },
  },
  methods: {
    click():void {
      this.$emit('click', this.field)
    }
  }
})
</script>

<style lang="css">
.smooth-transition {
  transition: all .4s ease-in-out;
}
.smooth-transition  * {
  transition: all .4s ease-in-out;
}

.no-opacity {
  opacity: 0
}
</style>
