<template>
  <v-autocomplete
    :value="sortSpecifications"
    :items="autocompleteItems"
    label="TimSort"
    multiple
    item-value="field"
    item-text="text"
    clearable
    @click:clear="clear"
    hide-selected
    append-icon="mdi-sort"
    @change="toggle"
    ref="autocomplete"
  >
    <template slot="selection" slot-scope="data">
      <v-chip
         :input-value="data.selected"
         close small
         class="chip--select-multi"
         @click:close="remove(data.item.field)"
         @click.prevent.stop="toggle(data.item.field)"
      >
        <v-avatar>
          <v-icon small left>
            {{fieldSortDirectionIcon(data.item.field)}}
          </v-icon>
        </v-avatar>
        {{ data.item.text }}
      </v-chip>
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";

import {
  VChip, VAvatar, VIcon, VAutocomplete
} from 'vuetify/lib'

import {
  configs,
  sortIndexFromSpecification,
  sortDirectionFromSpecification,
  toggleSortSpecification, reverseLookup
} from 'frxt'

import {
  TokenMapConfig, SortSpecifications, SortSpecification, Field
} from 'frxt/dist/types'

export default Vue.extend({
  components: {
    VChip, VAvatar, VIcon, VAutocomplete
  },
  props: {
    sortSpecifications: {
      type: Array as PropType<SortSpecifications>,
      default: () => ({})
    },
    fieldMap: {
      type: Object as PropType<TokenMapConfig>,
      default: () => ({})
    },
  },
  computed: {
    autocompleteItems(): object[] {
      let items = []

      // Object.keys(this.fieldMap)
      let fields = [...new Set(Object.values(this.fieldMap))]

      fields.forEach(field=>{
        // let humanField = this.fieldMap[field]
        let humanField = reverseLookup(this.fieldMap, field)
        let item = {field, text:humanField}
        items.push(item)
      })
      return items
    },
  },
  methods: {
    fieldSortDirectionIcon(field:Field): string {
      let dir = sortDirectionFromSpecification(this.sortSpecifications, field)
      if (dir === undefined) return 'mdi-arrow-up'
      return dir ? 'mdi-arrow-up' : 'mdi-arrow-down'
    },
    autocompleteChange(fields:Field[]): void {
      let newFields = [] as string[]
      if (fields.length !== 0) {
        newFields = fields.filter(field => {
          let i = sortIndexFromSpecification(this.sortSpecifications, field)
          return i > -1
        })
      }
      this.toggle(newFields)
    },
    change(newSortSpecs:SortSpecifications):void {
      this.$emit('change', newSortSpecs)
    },
    clear(): void {
      this.change([] as SortSpecifications)
    },
    toggle(payload:any): void {
      let newSortSpec = this.sortSpecifications.concat()
      if (Array.isArray(payload)) {
        let fields = payload as Field[]
        let newFields = fields.filter(field=>{
          let i = sortIndexFromSpecification(newSortSpec, field)
          return i < 0
        })
        newFields.forEach(field=>{
          newSortSpec = toggleSortSpecification(newSortSpec, field)
        })
      } else {
        let field = payload as Field
        newSortSpec = toggleSortSpecification(newSortSpec, field)
      }
      this.change(newSortSpec)
    },
    remove(payload:any): void {
      let field = payload as Field
      let newSortSpec = this.sortSpecifications.concat()
      let i = sortIndexFromSpecification(newSortSpec, field)
      newSortSpec.splice(i, 1)
      this.change(newSortSpec)
    }
  }
})
</script>

<style lang="css">

</style>
