<template>
<v-row>
  <v-col cols="12">
    <v-app-bar
      dark
      color="primary"
      elevation="8"
      :collapse="collapse"
      @mouseover="collapse=false"
      @mouseleave="collapse=true"
      height="100"
      class="collapable"
    >
      <v-row class="d-flex justify-center">
      <v-fade-transition>

        <v-col v-show="!collapse">
          <VFrxtInput
          />
        </v-col>
      </v-fade-transition>
      <v-fade-transition>
        <v-icon
          color="white"
          large
          left v-show="collapse"
        >
          mdi-filter
        </v-icon>
      </v-fade-transition>
      </v-row>
    </v-app-bar>
  </v-col>



  <v-col cols="12">
    <VFrxtInput/>
  </v-col>
  <v-col cols="12">
    <VCnf
      :filters="filters"
    />
  </v-col>
  <v-col cols="12">
    <VTimSort
      :sortSpecifications="sortSpecs"
    />
  </v-col>
  <v-col cols="12">
    <VTableProfileBtns />
  </v-col>
</v-row>
</template>

<script>
import {
  VFrxtInput,
  VCnf,
  VTimSort,
  VTableProfileBtns,
} from '../dist/vfrxt.umd.js'
// import VFrxtInput from '@/components/VFrxtInput.vue'
// import VCnf from '@/components/VCnf.vue'
// import VTimSort from '@/components/VTimSort.vue'
// import VTableProfileBtns from '@/components/VTableProfileBtns.vue'

export default {
  components: {
    VFrxtInput, VCnf, VTimSort, VTableProfileBtns
  },
  data: () => ({
    collapse: true,
    filters: [
      {
        logic: 'and',
        function: 'identity',
        field: 'name',
        conditional: 'ss',
        input: 'ana'
      },
      {
        logic: 'or',
        function: 'identity',
        field: 'name',
        conditional: 'ss',
        input: 'ppl'
      },
      {
        logic: 'and',
        function: 'length',
        field: 'name',
        conditional: 'gt',
        input: '3'
      },
    ],
    sortSpecs: [
      {
        field:'name',
        isAscending: true,
      },
      {
        field: 'type',
        isAscending: false
      }
    ]
  })

}
</script>

<style>
.v-application--is-ltr .v-toolbar.v-toolbar--collapsed {
  border-radius: 24px;
}
.collapable {
  border-radius: 0px 0px 24px;


}
.v-toolbar--collapsed {
  max-width: 100px!important;
}

</style>
